text {
  font-family: sans-serif;
  font-size: 12px;
  fill: white;
}
#application_projects,
#application_samples {
  float: left;
  margin: 5px 0 0 0;
}
#affiliations {
  float: left;
  margin: 5px 0 0 20px;
}
#delivery_times {
  float: left;
  /*margin-left: 30px;*/
  /*margin-right: 10px;*/
  margin: 0 20px 20px 40px;
}
#delivery_times_plot {
  padding-top: 100px;
}

#reads_per_lane {
  margin-left: 20px;
}
#date_info {
  font: 12px sans-serif;
  margin: 0 0 0 0;
}
h1 {
  margin-bottom: 0;
}
h2 {
  text-align: center;
}
.reads_per_lane {
  float: left;
  margin-left: 5px;
}

br.clear {
  clear: both;
}

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #ffffff;
  /*fill: #000;*/
  font-size: 9px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}
.tick text {
  fill: #000000;
  font-size: 11px;
}
.axis_label {
  font-family: sans-serif;
  font-size: 12px;
  fill: #cccccc;
  fill: #000000;
  text-anchor: middle;
  text-anchor: end;
}

/*Queue stacked bar panels*/
#queue {
  float: left;
  margin-left: 10px;
  margin-right: 0;
}
#load_charts {
  float: left;
  margin-left: 0;
}
#queue svg {
  font: 10px sans-serif;
  fill: #000000;
  shape-rendering: crispEdges;
}

#queue svg text {
  font: 10px sans-serif;
  fill: #000000;
}

#queue svg .rule {
  fill: #000000;
}
#queue svg .rule text {
  stroke: none;
}

/*#queue svg #tooltipA, #tooltipB {*/
svg #tooltipA,
#tooltipB {
  fill: #333333;
  stroke: none;
}
#queue_lp_load {
  float: left;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 2px #888888;
}
#queue_sample_load_lp {
  float: left;
  margin-top: 0;
  margin-left: 0;
}
#queue_fl_load {
  float: left;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 2px #888888;
}

#queue_lane_load_lp,
#queue_lane_load_fl {
  float: left;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

#explanation_lp {
  margin: 5px 0 2px 0;
  width: 330px;
}

#explanation_fl {
  margin: 5px 0 2px 0;
  width: 190px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 26px;
  padding: 2px;
  font: 11px sans-serif;
  color: #ffffff;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
