text {
    font-family: sans-serif;
    font-size: 12px;
    fill: white;
}
#application_projects,
#application_samples{
    float: left;
    margin: 5px 0px 0px 0px;
}
#affiliations {
    float: left;
    margin: 5px 0px 0px 20px;
}
#delivery_times {
    float: left;
    /*margin-left: 30px;*/
    /*margin-right: 10px;*/
    margin: 0px 20px 20px 20px;
}
#reads_per_lane {
    margin-left: 20px;
}
#date_info {
    font: 12px sans-serif;    
    margin: 0px 0px 0px 0px;
}
h1 {
    margin-bottom: 0px;    
}
.reads_per_lane {
    float: left;
    margin-left: 5px;
}

br.clear {
    clear: both;
}

body {
    font: 10px sans-serif;
}

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
    /*fill: #000;*/
    font-size: 9px;
}
/*#reads_per_lane text {*/
/*	fill: #000;	*/
/*}*/
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.tick text {
    fill: #000;
    font-size: 11px;
}
.axis_label {
  font-family: sans-serif;
  font-size: 12px;
  fill: #CCCCCC;
  fill: #000;
  text-anchor: middle;
  text-anchor: end;
}
